.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6; 
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa; 
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6; 
}

.table-bordered {
    border-collapse: separate; 
}
.card {
    background-color: lavenderblush; 
}

.table {
    background-color: thistle; 
}
