<br><br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card lavenderblush"> 
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3> Task Info</h3>
                    </div>
                    <div class="col-md-6" style="text-align: right;">
                        <a routerLink="/projects">Back</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <th>Project ID</th>
                        <th>Project Name</th>
                        <th>Project Duration</th>
                    </tr>
                    <tr >
                        <td>{{projects.id}}</td>
                        <td>{{projects.projectname}}</td>
                        <td>{{projects.duration}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
